body {
	background-color: rgb(231, 225, 181);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.navbar {
	top: 0;
	width: 100%;
	position: absolute;
}
